#top-container{
  min-height: 100vh;
  position: relative;
  background-color: rgb(247, 250, 252);
  .top-banner-wrapper{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    text-align: left;
    .top-banner{
      max-width: calc(700px + 2rem);
      margin: 0 auto;
      position: relative;
      padding: 1rem;
      .sub-heading{
        font-size: 24px;
        font-weight: 300;
        padding-bottom: 0.5em;
      }
      .nav-tabs{
        list-style-type: none;
        padding: 0;
        li{
          font-size: 18px;
          padding-right: 1em;
          font-weight: 600;
          a, a:visited{
            text-decoration: none;
            color: #718196;
          }
        }
      }
    }
  }
}
.main-container{
  max-width: calc(700px + 2rem);
  margin: 0 auto;
  padding: 1rem;

  .writing-wrapper{
    margin-bottom: 4em;
  }

  .about-me-wrapper{
    position: relative;
    margin-bottom: 4em;
    .content{
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 766px) {
  #top-container{
    .top-banner{
      .nav-tabs {
        text-align: center;
        li{
          display: block;
          margin: 1em 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .top-banner{
    .nav-tabs li{
      display: inline-block;
    }
  }
}